<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>group</mat-icon>
  </button>
  <span>Last Pass Solution</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog(1)">Add Account  <mat-icon>person_add</mat-icon></button>
</mat-toolbar>

<div class="container">

  <div style="margin-top: 10px;">

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  </div>
</div>

<ul class="cards">
<!-- each card  is goin to travel  each objet in index and this shows content in each card-->

  <li class="cards__item" *ngFor="let card of source">

    <mat-card class="mat-class">

      <h1>
        {{card.accountCard}}
      </h1>

      <mat-card-content>
        <div>
          <div>{{card.emailCard}}</div>

        </div>
        <p>{{card.urlCard}}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button (click)="editAccount(card)" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteAccount(card.id)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>



      </mat-card-actions>

    </mat-card>

  </li>

</ul>

   